<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clock.dao.BasestudentsMapper" >
  <resultMap id="BaseResultMap" type="com.clock.entity.Basestudents" >
    <id column="studentname" property="studentname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from basestudents
    where studentname = #{studentname,jdbcType=VARCHAR}
  </delete>
  <select id="getAllStudentName" parameterType="java.lang.String">
    select
    *
    from
    basestudents
  </select>
  <insert id="insert" parameterType="com.clock.entity.Basestudents" >
    insert into basestudents (studentname)
    values (#{studentname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clock.entity.Basestudents" >
    insert into basestudents
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentname != null" >
        studentname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentname != null" >
        #{studentname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>